# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build and Production
dist
dist-ssr
build
out

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# ESLint
.eslintcache

# Cloud platforms / Serverless deployments
.netlify
.vercel
.serverless

# Editor directories and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
